*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

/* NAV CONFIG */

header nav {
    display: flex;
    background-color: rgba(133, 47, 13, 0.8);
    color: white;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    box-sizing: border-box;
}

header nav ul li a:hover {
    color: rgb(235, 226, 240);
    text-decoration: none;
    font-size: 1.05em;
}

.btn-login {
    background-color: white;
    color: brown;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 30px;
}

.btn-login:hover{
    transform: scale(1.2);
}

header nav div.menu-toggle{
    display: none
}

header nav div.menu-toggle span.menu-toggle-item {
    width: 18px;
    height: 3px;
    box-sizing: border-box;
    background-color: white;
}

.menu-toggle span.menu-toggle-item {
    transition: all 1s;
}

.menu-toggle span.menu-toggle-item:nth-child(1) {
    transform-origin: top left;
} 

.menu-toggle span.menu-toggle-item:nth-child(3) {
    transform-origin: bottom left;
}

.menu-toggle span.menu-toggle-item:nth-child(1).clicked{
    transform: rotate(45deg);
    
}

.menu-toggle span.menu-toggle-item:nth-child(2).clicked{
    transform: scale(0);
}

.menu-toggle span.menu-toggle-item:nth-child(3).clicked{
    transform: rotate(-45deg);
}

section.hero{
    display: flex;
    min-height: calc(100vh - 50px);
    width: 100%;
    background: gray url(hero.jpg) center / cover no-repeat;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.hero div.hero-content{
    display: flex;
    height: 250px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.hero-content > h1 {
    font-size: 50px;
    color: rgb(101,101,101);
    text-transform: uppercase;
    letter-spacing: 3pt;

}

div.hero-content > h2 {
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}

div.hero-content > p{
    text-align: center;
    width: 70%;
    color: gray;
}

div.hero-content > div.btn-hero{
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    background-color: rgba(133, 47, 13, 0.8);
    border-radius: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1pt;
    font-weight: bold;
    cursor: pointer;
}

div.hero-content > div.btn-hero::before{
    content: "More";
}


div.btn-hero > a{
    text-decoration: none;
    color: whitesmoke;
}

section.content{
    background-color: brown;
    width: 100%;
    height: 35vh;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

section.content > div.content-item{
    width: 20%;
    height: 100%;
    /* background-color: rebeccapurple; */
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

div.content-item > i{
    font-size: 50pt;
    color: whitesmoke;
}

div.content-item > p{
    color: white;
    text-align: center;
}


/* Tablet / Ipad Screen */
@media screen and (max-width: 768px) {
    div.hero-content > p{
        display: none;
    }

    div.hero-content > h2{
        text-transform: capitalize;
    }
}

/* Phone Screen */
@media screen and (max-width: 576px) {

    header nav{
        padding: 0 10px;
        justify-content: space-between;
    }

    header nav ul.menu-nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: calc(100% - 50px);
        width: 100px;
        background-color: grey;
        /* left: 0; */
        top: 50px;
        right: 0px;
        padding-left: 20px;
        box-sizing: border-box;
        align-items: flex-end;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.3s linear;
        /* display: none; */
    }

    header nav ul.menu-nav.clicked{
        transform: translateX(0);
        transition: all 0.3s linear;
        opacity: 1;
    }

    /* header nav ul.menu-nav.hover{
        display: flex;
    } */

    header nav ul.menu-nav li a{
        color: black;
        font-size: 20px;
        font-style: bold;

    }

    header nav a.btn-login{
        display: none;
    }

    header nav div.menu-toggle{
        display: flex;
        height: 15px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    section.hero {
        min-height: 300px;
    }

    div.hero-content > h2 {
        display: none;
    }
    
    div.hero-content > p{
        display: none;
    }

    div.hero-content > h1 {
        font-size: 35px; 
    }

    div.hero-content > div.btn-hero{
        width: 80px
    }

    div.hero-content > div.btn-hero::before{
        content: none;
    }

}